@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "JetbrainsMono";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/jetbrains_mono/JetBrainsMono-Regular.woff2)
            format("woff2");
    }
    @font-face {
        font-family: "JetbrainsMono";
        font-style: bold;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/jetbrains_mono/JetBrainsMono-Bold.woff2)
            format("woff2");
    }
}
